<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Your Landmark</title>
  </head>
  <body>

<form action="/landmarks/<%=@landmark.id%>" method="POST">
<input id="hidden" type="hidden" name="_method" value="PATCH">

  <label>Name:</label>
  <input type="text" name="landmark[name]" id="name" value="<%=@landmark.name%>"></input>

  <label>Year Completed:</label>
  <input type="text" name="landmark[year_completed]" id="year_completed" value="<%=@landmark.year_completed%>"></input>

  <input type="submit" value="Edit Landmark">
</form>
</body>
</html>
